<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Menu Admin" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="robots" content="index" />
    <meta name="language" content="fr" />
    <title>Menu de la carte interactive</title>
    <link rel="stylesheet" href="css/styleAdminMenu.css" />
</head>

<body>
    <div id="container">
        <h1><a href="/menu" class="titre"> Menu</a><img src="img/musee.png" class="img"></h1>
        <div class="lesChoix">
            <a href="/ajout" id="add" class="buttons opt">Ajouter un panorama</a>
            <a href="/suppr" id="del" class="buttons opt">Supprimer un panorama</a>
        </div>
    </div>
    <script type="text/javascript" src="Panoramadata/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="Panoramadata/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    </script>
</body>

</html>