<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Menu carte interactive</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Menu</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" onclick="getPanoList('#selectPano')"
						data-target="#ajoutModal">Ajouter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" onclick="getAllPuceList('#selectPuceToChange')"
						data-target="#modifierModal">Modifier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" onclick="getAllPuceList('#selectPuceToDelete')"
						data-target="#supprimerModal">Supprimer</a>
				</li>
			</ul>
			<div class="my-4 my-lg-0">
				<a class="nav-link text-success" href="/visite">Lancerla visite</a>
			</div>
		</div>
	</nav>


	<!-- Ajout Modal -->
	<div class="modal fade" id="ajoutModal" tabindex="-1" role="dialog" aria-labelledby="ajoutModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ajoutModalLabel">Ajout panorama</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!--Body du modal-->
					<form id="addLinkForm">
						<div class="form-group">
							<label for="selectToAdd">Selectionnez le panorama</label>
							<select class="form-control" id="selectPano" onchange="getPuceList(this.value)">
							</select>
						</div>
					</form>
				</div>
				<!--Footer du modal-->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="closeB" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<!--Modifier modal-->
	<div class="modal fade" id="modifierModal" tabindex="-1" role="dialog" aria-labelledby="modifModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modifModalLabel">Modifie panorama</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!--Body du modal-->
					<form id="changeLinkForm">
						<div class="form-group">
							<label for="selectPuceToChange">Selectionnez le capteur lié au panorama à modifier</label>
							<select class="form-control" id="selectPuceToChange"
								onchange="getPanoListByPuceToChange(this.value)">
							</select>
						</div>
					</form>
				</div>
				<!--Footer du modal-->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary" id="globalChangeLink">Modifier</button>
				</div>
			</div>
		</div>
	</div>

	<!--Supprimer modal-->
	<div class="modal fade" id="supprimerModal" tabindex="-1" role="dialog" aria-labelledby="suppModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="suppModalLabel">Supprimer un panorama</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!--Body du modal-->
					<form id="deleteLinkForm">
						<div class="form-group">
							<label for="selectPuceToDelete">Selectionnez le capteur lié au panorama à modifier</label>
							<select class="form-control" id="selectPuceToDelete"
								onchange="getPanoListByPuceToDelete(this.value)">
							</select>
						</div>
					</form>
				</div>


				<!--Footer du modal-->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-danger" id="globalDeleteLink">Supprimer</button>
				</div>
			</div>
		</div>
	</div>

	<!--sensor modal-->
	<div class="modal fade" id="sensorModal" tabindex="-1" role="dialog" aria-labelledby="sensorModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" id="titleSensorModal">

				</div>
				<div class="modal-body">

				</div>


				<!--Footer du modal-->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-success addLink">Ajouter</button>
					<button type="button" class="btn btn-warning changeLink">Modifier</button>
					<button type="button" class="btn btn-danger deleteLink">Supprimer</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Image Map Generated by http://www.image-map.net/ -->

	<img src="img/carte.png" class="resp" usemap="#image-map">
	<map name="image-map">
		<area data-toggle="modal" data-target="#sensorModal" title="puce1" onclick="generateSensorModule(this.title)"
			coords="430,295,395,231" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce2" onclick="generateSensorModule(this.title)"
			coords="432,300,464,368" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce3" onclick="generateSensorModule(this.title)"
			coords="412,388,447,451" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce4" onclick="generateSensorModule(this.title)"
			coords="344,399,376,464" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce5" onclick="generateSensorModule(this.title)"
			coords="377,493,413,557" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce6" onclick="generateSensorModule(this.title)"
			coords="432,454,465,521" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce7" onclick="generateSensorModule(this.title)"
			coords="205,320,240,385" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce8" onclick="generateSensorModule(this.title)"
			coords="155,366,190,430" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce9" onclick="generateSensorModule(this.title)"
			coords="196,409,232,474" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce10" onclick="generateSensorModule(this.title)"
			coords="148,526,181,589" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce11" onclick="generateSensorModule(this.title)"
			coords="173,613,205,678" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce12" onclick="generateSensorModule(this.title)"
			coords="253,476,285,539" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce13" onclick="generateSensorModule(this.title)"
			coords="241,543,261,611" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce4" onclick="generateSensorModule(this.title)"
			coords="316,560,348,621" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce15" onclick="generateSensorModule(this.title)"
			coords="268,594,293,660" shape="rect">
		<area data-toggle="modal" data-target="#sensorModal" title="puce16" onclick="generateSensorModule(this.title)"
			coords="327,678,354,746" shape="rect">
	</map>


	<footer class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>Copyright © Muséum de l'Ardèche. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jQuery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/script.js"></script>
</body>

</html>