<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Suppression</title>
    <link rel="stylesheet" href="css/styleSuppr.css" />
</head>

<body>
    <form action="/pce" id="puceForm" method="post">
        <select name="numPuce" id="numPuce" onchange="folderList(this.value)">
            <option value="">Choisissez le capteur</option>
            <% for(var i=1; i<17; i++){ %>
            <option href="/pce" value="puce<%= i %>">capteur <%= i %> </option>
            <% } %>
        </select>
    </form>
    

    <a href="/adminMenu">Retour menu admin</a>

    <script type="text/javascript" src="Panoramadata/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="Panoramadata/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        
            function folderList(numPuce){
                
                if(numPuce != ""){
                    $.ajax({
                        type: 'post',
                        url: '/pce',
                        data: {'numPuce':numPuce},
                    })
                    .then(function (param) {
                        if($('#formDelete').length == 0){
                            $("#puceForm").after("<form action='suppr' method='post' id='formDelete'>"+
                                "<select name='folderToDelete' id='folderToDelete'></select>"+
                                "<input type='submit' value='Supprimer'>"+
                                "</form>"
                                )
                            }
                        $("#folderToDelete").html(param);
                    })
                }
                else{
                    // $('#formDelete').hide()
                }
            };
            
    </script>
</body>

</html>