body,
html {
    text-align: center;
}

body {
    margin: auto;
    width: 60%;
}

.titre {
    display: inline-block;
    font-size: 2em;
    width: 70%;
    background: rgb(199, 157, 20);
    border-radius: 45px;
}

.buttons {
    background: rgba(226, 176, 82, 0.781);
    margin: 30px;
    margin-top: 10%;
    padding: 2%;
    border-radius: 45px;
    transition: all 0.3s;
}
a.opt{
    font-size: 2em;
}
a.config{
    
    font-size: 1.8em;
}

a {
    color: rgb(33, 97, 8);
    text-decoration: none;
}

a:hover {
    top: 108px;
}

.lesChoix {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img {
    float: left;
    width: 25%;
}